@{
    ViewData["Title"] = "Home Page";
}
<div class="row">

</div>
<div class="text-center">
    <div class=" d-flex justify-content-center m-5">
        <input type="text" class="form-control" id="txtMessage">
        <button id="send-btn" class="btn btn-outline-success">Göndər</button>
    </div>
    <div>
        <ul id="messages" class="list-group">
   
            </ul>
    </div>
</div>

